@use '../base/variables' as v;
@use '../base/mixins' as m;

.derecha {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include m.tablet {
    align-items: flex-end;
  }
}

.dark-mode-boton {
  width: 3rem;
  filter: invert(100%);

  &:hover {
    cursor: pointer;
  }

  @include m.tablet {
    margin: 0 0 2rem 0;
  }
}

.barra {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  @include m.tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.navegacion {
  visibility: hidden;
  transition: visibility .3s ease-in-out, opacity .5s linear, height .5s linear;
  opacity: 0;
  height: 0;

  @include m.tablet {
    display: flex;
    align-items: center;
    visibility: visible;
    opacity: 1;
  }

  a{
    color: v.$blanco;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
    text-align: center;

    @include m.tablet {
      margin-right: 2rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

/**Barras de menu mobile  **/
.mobile-menu {
  @include m.tablet {
    display: none;
  }

  img {
    width: 5rem;
  }
}

.mostrar {
  visibility: visible;
  opacity: 1;
  height: auto;
}